In [1]:
import pandas as pd
df=pd.read_table("p015036_sepsis_sofa_qsofa_with_nan.psv",sep="|")

In [2]:
df.head()

,Resp,SBP,Platelets,Bilirubin_total,Creatinine,ICULOS,SepsisLabel,qSOFA,SOFA
0,NaN,NaN,NaN,NaN,NaN,1,0,0,0
1,20.0,NaN,NaN,NaN,NaN,2,0,0,0
2,19.0,NaN,NaN,NaN,NaN,3,0,0,0
3,24.0,NaN,NaN,2.3,3.4,4,0,1,1
4,25.0,NaN,NaN,NaN,NaN,5,0,1,0

In [3]:
df1=df[['Resp','SBP','Platelets','Bilirubin_total','Creatinine','ICULOS','SepsisLabel']]

In [4]:
df1.head()

   Resp  SBP  Platelets  Bilirubin_total  Creatinine  ICULOS  SepsisLabel
0   NaN  NaN        NaN              NaN         NaN       1            0
1  20.0  NaN        NaN              NaN         NaN       2            0
2  19.0  NaN        NaN              NaN         NaN       3            0
3  24.0  NaN        NaN              2.3         3.4       4            0
4  25.0  NaN        NaN              NaN         NaN       5            0

# Imputation using mean

In [5]:
df1.mean()

Resp                23.026596
SBP                107.648148
Platelets          138.700000
Bilirubin_total      3.911111
Creatinine           3.908333
ICULOS              25.000000
SepsisLabel          0.204082
dtype: float64

In [6]:
import numpy as np
df_mean=df1.replace(np.nan, df1.mean())

In [7]:
# Running sofa and qsofa 
result_qsofa = []
result_sofa= []
        
for a,b,c,d,e in zip(df_mean["Resp"], df_mean["SBP"], df_mean["Platelets"], df_mean["Bilirubin_total"], df_mean["Creatinine"]): 
    if a>=22 or b<=100: 
        result_qsofa.append(1)
        if c<100 or d>=2 or e>=2: 
            result_sofa.append(1)
        else:
            result_sofa.append(0)
    else:
        result_qsofa.append(0) 
        result_sofa.append(0)
        
df_mean['qSOFA']=result_qsofa
df_mean['SOFA']=result_sofa

df_mean

,Resp,SBP,Platelets,Bilirubin_total,Creatinine,ICULOS,SepsisLabel,qSOFA,SOFA
0,23.026596,107.648148,138.7,3.911111,3.908333,1,0,1,1
1,20.000000,107.648148,138.7,3.911111,3.908333,2,0,0,0
2,19.000000,107.648148,138.7,3.911111,3.908333,3,0,0,0
3,24.000000,107.648148,138.7,2.300000,3.400000,4,0,1,1
4,25.000000,107.648148,138.7,3.911111,3.908333,5,0,1,1
5,26.000000,107.648148,138.7,3.911111,3.908333,6,0,1,1
6,28.500000,107.648148,187.0,2.700000,3.700000,7,0,1,1
7,24.250000,107.648148,138.7,3.911111,3.908333,8,0,1,1
8,15.000000,107.648148,138.7,3.911111,3.908333,9,0,0,0
9,25.000000,107.648148,138.7,3.911111,3.908333,10,0,1,1
10,26.000000,107.648148,138.7,3.911111,3.908333,11,0,1,1
11,23.026596,107.648148,158.0,3.000000,3.800000,12,0,1,1
12,25.500000,107.648148,138.7,3.911111,3.908333,13,0,1,1
13,19.000000,107.648148,138.7,3.911111,3.908333,14,0,0,0
14,20.000000,107.648148,138.7,3.911111,3.908333,15,0,0,0
15,20.500000,107.648148,138.7,3.911111,3.908333,16,0,0,0
16,20.500000,107.648148,138.7,3.911111,3.908333,17,0,0,0
17,21.500000,107.648148,159.0,3.911111,4.300000,18,0,0,0
18,21.000000,107.648148,138.7,3.911111,3.908333,19,0,0,0
19,18.000000,107.648148,138.7,3.911111,3.908333,20,0,0,0
20,18.750000,107.648148,150.0,3.900000,4.500000,21,0,0,0
21,24.000000,107.648148,138.7,3.911111,3.908333,22,0,1,1
22,29.000000,101.000000,138.7,3.911111,3.908333,23,0,1,1
23,28.000000,106.000000,138.7,3.911111,3.908333,24,0,1,1
24,32.000000,115.500000,138.7,3.911111,3.908333,25,0,1,1
25,23.000000,106.000000,119.0,3.200000,4.400000,26,0,1,1
26,30.000000,118.000000,138.7,3.911111,3.908333,27,0,1,1
27,25.000000,121.000000,138.7,3.911111,3.908333,28,0,1,1
28,25.000000,121.500000,138.7,3.911111,3.908333,29,0,1,1
29,26.000000,121.000000,138.7,3.911111,3.908333,30,0,1,1
30,25.000000,118.000000,138.7,3.911111,3.908333,31,0,1,1
31,30.000000,121.000000,126.0,4.300000,4.600000,32,0,1,1
32,25.000000,117.000000,138.7,3.911111,3.908333,33,0,1,1
33,22.750000,110.000000,138.7,3.911111,3.908333,34,0,1,1
34,23.000000,107.000000,138.7,3.911111,3.908333,35,0,1,1
35,24.000000,110.500000,124.0,4.900000,4.700000,36,0,1,1
36,24.000000,97.000000,138.7,3.911111,4.300000,37,0,1,1
37,21.000000,101.000000,138.7,3.911111,3.908333,38,0,0,0
38,24.000000,107.500000,138.7,3.911111,3.908333,39,0,1,1
39,24.000000,81.500000,106.0,5.200000,3.600000,40,1,1,1
40,20.000000,90.000000,138.7,3.911111,3.908333,41,1,1,1
41,20.000000,96.000000,138.7,3.911111,3.908333,42,1,1,1
42,20.000000,93.000000,138.7,3.911111,3.908333,43,1,1,1
43,20.000000,97.500000,138.7,3.911111,3.908333,44,1,1,1
44,20.000000,110.000000,133.0,5.700000,3.000000,45,1,0,0
45,20.000000,100.500000,138.7,3.911111,3.908333,46,1,0,0
46,20.000000,104.500000,138.7,3.911111,3.908333,47,1,0,0
47,20.000000,129.000000,138.7,3.911111,3.908333,48,1,0,0
48,20.000000,105.500000,125.0,3.911111,2.600000,49,1,0,0

# Imputation using median

In [8]:
df1.median()

Resp                23.00
SBP                107.00
Platelets          129.50
Bilirubin_total      3.90
Creatinine           4.05
ICULOS              25.00
SepsisLabel          0.00
dtype: float64

In [9]:
import numpy as np
df_median=df1.replace(np.nan, df1.median())

In [10]:
# Running sofa and qsofa 
result_qsofa = []
result_sofa= []
        
for a,b,c,d,e in zip(df_median["Resp"], df_median["SBP"], df_median["Platelets"], df_median["Bilirubin_total"], df_median["Creatinine"]): 
    if a>=22 or b<=100: 
        result_qsofa.append(1)
        if c<100 or d>=2 or e>=2: 
            result_sofa.append(1)
        else:
            result_sofa.append(0)
    else:
        result_qsofa.append(0) 
        result_sofa.append(0)
        
df_median['qSOFA']=result_qsofa
df_median['SOFA']=result_sofa

df_median

,Resp,SBP,Platelets,Bilirubin_total,Creatinine,ICULOS,SepsisLabel,qSOFA,SOFA
0,23.00,107.0,129.5,3.9,4.05,1,0,1,1
1,20.00,107.0,129.5,3.9,4.05,2,0,0,0
2,19.00,107.0,129.5,3.9,4.05,3,0,0,0
3,24.00,107.0,129.5,2.3,3.40,4,0,1,1
4,25.00,107.0,129.5,3.9,4.05,5,0,1,1
5,26.00,107.0,129.5,3.9,4.05,6,0,1,1
6,28.50,107.0,187.0,2.7,3.70,7,0,1,1
7,24.25,107.0,129.5,3.9,4.05,8,0,1,1
8,15.00,107.0,129.5,3.9,4.05,9,0,0,0
9,25.00,107.0,129.5,3.9,4.05,10,0,1,1
10,26.00,107.0,129.5,3.9,4.05,11,0,1,1
11,23.00,107.0,158.0,3.0,3.80,12,0,1,1
12,25.50,107.0,129.5,3.9,4.05,13,0,1,1
13,19.00,107.0,129.5,3.9,4.05,14,0,0,0
14,20.00,107.0,129.5,3.9,4.05,15,0,0,0
15,20.50,107.0,129.5,3.9,4.05,16,0,0,0
16,20.50,107.0,129.5,3.9,4.05,17,0,0,0
17,21.50,107.0,159.0,3.9,4.30,18,0,0,0
18,21.00,107.0,129.5,3.9,4.05,19,0,0,0
19,18.00,107.0,129.5,3.9,4.05,20,0,0,0
20,18.75,107.0,150.0,3.9,4.50,21,0,0,0
21,24.00,107.0,129.5,3.9,4.05,22,0,1,1
22,29.00,101.0,129.5,3.9,4.05,23,0,1,1
23,28.00,106.0,129.5,3.9,4.05,24,0,1,1
24,32.00,115.5,129.5,3.9,4.05,25,0,1,1
25,23.00,106.0,119.0,3.2,4.40,26,0,1,1
26,30.00,118.0,129.5,3.9,4.05,27,0,1,1
27,25.00,121.0,129.5,3.9,4.05,28,0,1,1
28,25.00,121.5,129.5,3.9,4.05,29,0,1,1
29,26.00,121.0,129.5,3.9,4.05,30,0,1,1
30,25.00,118.0,129.5,3.9,4.05,31,0,1,1
31,30.00,121.0,126.0,4.3,4.60,32,0,1,1
32,25.00,117.0,129.5,3.9,4.05,33,0,1,1
33,22.75,110.0,129.5,3.9,4.05,34,0,1,1
34,23.00,107.0,129.5,3.9,4.05,35,0,1,1
35,24.00,110.5,124.0,4.9,4.70,36,0,1,1
36,24.00,97.0,129.5,3.9,4.30,37,0,1,1
37,21.00,101.0,129.5,3.9,4.05,38,0,0,0
38,24.00,107.5,129.5,3.9,4.05,39,0,1,1
39,24.00,81.5,106.0,5.2,3.60,40,1,1,1
40,20.00,90.0,129.5,3.9,4.05,41,1,1,1
41,20.00,96.0,129.5,3.9,4.05,42,1,1,1
42,20.00,93.0,129.5,3.9,4.05,43,1,1,1
43,20.00,97.5,129.5,3.9,4.05,44,1,1,1
44,20.00,110.0,133.0,5.7,3.00,45,1,0,0
45,20.00,100.5,129.5,3.9,4.05,46,1,0,0
46,20.00,104.5,129.5,3.9,4.05,47,1,0,0
47,20.00,129.0,129.5,3.9,4.05,48,1,0,0
48,20.00,105.5,125.0,3.9,2.60,49,1,0,0

# Imputation using mode

In [23]:
df1.mode().iloc[0]

Resp                20.0
SBP                121.0
Platelets          106.0
Bilirubin_total      2.3
Creatinine           4.3
ICULOS               1.0
SepsisLabel          0.0
Name: 0, dtype: float64

In [ ]:
df_mode=df1.fillna(df1.mode().iloc[0])

In [12]:
# Running sofa and qsofa 
result_qsofa = []
result_sofa= []
        
for a,b,c,d,e in zip(df_mode["Resp"], df_mode["SBP"], df_mode["Platelets"], df_mode["Bilirubin_total"], df_mode["Creatinine"]): 
    if a>=22 or b<=100: 
        result_qsofa.append(1)
        if c<100 or d>=2 or e>=2: 
            result_sofa.append(1)
        else:
            result_sofa.append(0)
    else:
        result_qsofa.append(0) 
        result_sofa.append(0)
        
df_mode['qSOFA']=result_qsofa
df_mode['SOFA']=result_sofa

df_mode

,Resp,SBP,Platelets,Bilirubin_total,Creatinine,ICULOS,SepsisLabel,qSOFA,SOFA
0,20.00,121.0,106.0,2.3,4.3,1,0,0,0
1,20.00,121.0,106.0,2.3,4.3,2,0,0,0
2,19.00,121.0,106.0,2.3,4.3,3,0,0,0
3,24.00,121.0,106.0,2.3,3.4,4,0,1,1
4,25.00,121.0,106.0,2.3,4.3,5,0,1,1
5,26.00,121.0,106.0,2.3,4.3,6,0,1,1
6,28.50,121.0,187.0,2.7,3.7,7,0,1,1
7,24.25,121.0,106.0,2.3,4.3,8,0,1,1
8,15.00,121.0,106.0,2.3,4.3,9,0,0,0
9,25.00,121.0,106.0,2.3,4.3,10,0,1,1
10,26.00,121.0,106.0,2.3,4.3,11,0,1,1
11,20.00,121.0,158.0,3.0,3.8,12,0,0,0
12,25.50,121.0,106.0,2.3,4.3,13,0,1,1
13,19.00,121.0,106.0,2.3,4.3,14,0,0,0
14,20.00,121.0,106.0,2.3,4.3,15,0,0,0
15,20.50,121.0,106.0,2.3,4.3,16,0,0,0
16,20.50,121.0,106.0,2.3,4.3,17,0,0,0
17,21.50,121.0,159.0,2.3,4.3,18,0,0,0
18,21.00,121.0,106.0,2.3,4.3,19,0,0,0
19,18.00,121.0,106.0,2.3,4.3,20,0,0,0
20,18.75,121.0,150.0,3.9,4.5,21,0,0,0
21,24.00,121.0,106.0,2.3,4.3,22,0,1,1
22,29.00,101.0,106.0,2.3,4.3,23,0,1,1
23,28.00,106.0,106.0,2.3,4.3,24,0,1,1
24,32.00,115.5,106.0,2.3,4.3,25,0,1,1
25,23.00,106.0,119.0,3.2,4.4,26,0,1,1
26,30.00,118.0,106.0,2.3,4.3,27,0,1,1
27,25.00,121.0,106.0,2.3,4.3,28,0,1,1
28,25.00,121.5,106.0,2.3,4.3,29,0,1,1
29,26.00,121.0,106.0,2.3,4.3,30,0,1,1
30,25.00,118.0,106.0,2.3,4.3,31,0,1,1
31,30.00,121.0,126.0,4.3,4.6,32,0,1,1
32,25.00,117.0,106.0,2.3,4.3,33,0,1,1
33,22.75,110.0,106.0,2.3,4.3,34,0,1,1
34,23.00,107.0,106.0,2.3,4.3,35,0,1,1
35,24.00,110.5,124.0,4.9,4.7,36,0,1,1
36,24.00,97.0,106.0,2.3,4.3,37,0,1,1
37,21.00,101.0,106.0,2.3,4.3,38,0,0,0
38,24.00,107.5,106.0,2.3,4.3,39,0,1,1
39,24.00,81.5,106.0,5.2,3.6,40,1,1,1
40,20.00,90.0,106.0,2.3,4.3,41,1,1,1
41,20.00,96.0,106.0,2.3,4.3,42,1,1,1
42,20.00,93.0,106.0,2.3,4.3,43,1,1,1
43,20.00,97.5,106.0,2.3,4.3,44,1,1,1
44,20.00,110.0,133.0,5.7,3.0,45,1,0,0
45,20.00,100.5,106.0,2.3,4.3,46,1,0,0
46,20.00,104.5,106.0,2.3,4.3,47,1,0,0
47,20.00,129.0,106.0,2.3,4.3,48,1,0,0
48,20.00,105.5,125.0,2.3,2.6,49,1,0,0

In [13]:
i=df[['SepsisLabel','ICULOS','qSOFA','SOFA']]
j=df_mean[['SepsisLabel','ICULOS','qSOFA','SOFA']]
k=df_median[['SepsisLabel','ICULOS','qSOFA','SOFA']]
l=df_mode[['SepsisLabel','ICULOS','qSOFA','SOFA']]

In [14]:
df_all = pd.concat([i.set_index('ICULOS'),j.set_index('ICULOS'),k.set_index('ICULOS'), l.set_index('ICULOS') ], 
                   axis='columns', keys=['with_nan', 'with_mean', "with_median", "with_mode"])
df_all

          with_nan              with_mean            with_median             \
       SepsisLabel qSOFA SOFA SepsisLabel qSOFA SOFA SepsisLabel qSOFA SOFA
ICULOS
1                0     0    0           0     1    1           0     1    1
2                0     0    0           0     0    0           0     0    0
3                0     0    0           0     0    0           0     0    0
4                0     1    1           0     1    1           0     1    1
5                0     1    0           0     1    1           0     1    1
6                0     1    0           0     1    1           0     1    1
7                0     1    1           0     1    1           0     1    1
8                0     1    0           0     1    1           0     1    1
9                0     0    0           0     0    0           0     0    0
10               0     1    0           0     1    1           0     1    1
11               0     1    0           0     1    1           0     1    1
12               0     0    0           0     1    1           0     1    1
13               0     1    0           0     1    1           0     1    1
14               0     0    0           0     0    0           0     0    0
15               0     0    0           0     0    0           0     0    0
16               0     0    0           0     0    0           0     0    0
17               0     0    0           0     0    0           0     0    0
18               0     0    0           0     0    0           0     0    0
19               0     0    0           0     0    0           0     0    0
20               0     0    0           0     0    0           0     0    0
21               0     0    0           0     0    0           0     0    0
22               0     1    0           0     1    1           0     1    1
23               0     1    0           0     1    1           0     1    1
24               0     1    0           0     1    1           0     1    1
25               0     1    0           0     1    1           0     1    1
26               0     1    1           0     1    1           0     1    1
27               0     1    0           0     1    1           0     1    1
28               0     1    0           0     1    1           0     1    1
29               0     1    0           0     1    1           0     1    1
30               0     1    0           0     1    1           0     1    1
31               0     1    0           0     1    1           0     1    1
32               0     1    1           0     1    1           0     1    1
33               0     1    0           0     1    1           0     1    1
34               0     1    0           0     1    1           0     1    1
35               0     1    0           0     1    1           0     1    1
36               0     1    1           0     1    1           0     1    1
37               0     1    1           0     1    1           0     1    1
38               0     0    0           0     0    0           0     0    0
39               0     1    0           0     1    1           0     1    1
40               1     1    1           1     1    1           1     1    1
41               1     1    0           1     1    1           1     1    1
42               1     1    0           1     1    1           1     1    1
43               1     1    0           1     1    1           1     1    1
44               1     1    0           1     1    1           1     1    1
45               1     0    0           1     0    0           1     0    0
46               1     0    0           1     0    0           1     0    0
47               1     0    0           1     0    0           1     0    0
48               1     0    0           1     0    0           1     0    0
49               1     0    0           1     0    0           1     0    0

         with_mode
       SepsisLabel qSOFA SOFA
ICULOS
1                0     0    0
2                0     0    0
3                0     0    0
4                0     1    1
5                0     1    1
6                0     1    1
7                0     1    1
8                0     1    1
9                0     0    0
10               0     1    1
11               0     1    1
12               0     0    0
13               0     1    1
14               0     0    0
15               0     0    0
16               0     0    0
17               0     0    0
18               0     0    0
19               0     0    0
20               0     0    0
21               0     0    0
22               0     1    1
23               0     1    1
24               0     1    1
25               0     1    1
26               0     1    1
27               0     1    1
28               0     1    1
29               0     1    1
30               0     1    1
31               0     1    1
32               0     1    1
33               0     1    1
34               0     1    1
35               0     1    1
36               0     1    1
37               0     1    1
38               0     0    0
39               0     1    1
40               1     1    1
41               1     1    1
42               1     1    1
43               1     1    1
44               1     1    1
45               1     0    0
46               1     0    0
47               1     0    0
48               1     0    0
49               1     0    0